streamlit
openai
python-dotenv
pandas
chromadb
youtube-transcript-api

langchain==0.2.17
langchain-openai==0.1.25
langchain-community==0.2.19
pydantic==2.8.2
langchain-core==0.3.86
langchain-text-splitters==0.3.11
langsmith==0.4.37

chromadb==1.5.9
youtube-transcript-api==1.2.4
tiktoken==0.13.0
pysqlite3-binary
